x-cube-aws-sensordemo/dashboard/st_discovery_board_dashboard_without_temperature.json
[{"id":"6b723fb1.24587","type":"tab","label":"Flow 1","disabled":false,"info":"This flow is to demonstrate the MQTT Broker Configuration"},{"id":"5d86c206.83e03c","type":"tab","label":"ST Discovery Board Dashboard","disabled":false,"info":"ST Discovery Board Dashboard"},{"id":"508c0785.693bc8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87e7a49e.56b3a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"stdisc_thing_6thmar_cert_pem_file","keyname":"stdisc_thing_6thmar_private_key_pem_file","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"82526810.02b8d8","type":"mqtt-broker","z":"","name":"US-WEST","broker":"a384oyra45utw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"87e7a49e.56b3a8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb5158a3.2e9888","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a30b08fc.f7e018","type":"ui_group","z":"","name":"Default","tab":"bb5158a3.2e9888","disp":true,"width":"6","collapse":false},{"id":"3a09a8cf.c03a68","type":"ui_group","z":"","name":"ENVIRONMENT SENSOR DATA - 01","tab":"40b9fc78.de7a24","disp":true,"width":"6","collapse":false},{"id":"b0329915.e26308","type":"ui_group","z":"","name":"ENVIRONMENT SENSOR DATA ","tab":"40b9fc78.de7a24","disp":true,"width":"6","collapse":true},{"id":"597df5a7.33849c","type":"ui_group","z":"","name":"MOTION SENSOR DATA","tab":"40b9fc78.de7a24","disp":true,"width":"12","collapse":true},{"id":"25cbad99.e39f82","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"da4a445dec-certificate.pem.crt","keyname":"da4a445dec-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"40b9fc78.de7a24","type":"ui_tab","z":"","name":"STM32 IOT Discovery Board","icon":"dashboard","disabled":false,"hidden":false},{"id":"e9579d.af21586","type":"mqtt in","z":"6b723fb1.24587","name":"","topic":"dt/stm32l475e/sensor-data/topic","qos":"1","datatype":"auto","broker":"82526810.02b8d8","x":190,"y":220,"wires":[["f7587148.f81d1"]]},{"id":"f7587148.f81d1","type":"debug","z":"6b723fb1.24587","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":220,"wires":[]},{"id":"c0c8614b.b33ba","type":"mqtt in","z":"5d86c206.83e03c","name":"","topic":"dt/stm32l475e/sensor-data/topic","qos":"1","datatype":"auto","broker":"82526810.02b8d8","x":130,"y":120,"wires":[["74b847ea.1e7d58"]]},{"id":"74b847ea.1e7d58","type":"json","z":"5d86c206.83e03c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":160,"wires":[["c4107dca.4bbce","7ddd5cb4.8e17d4","a167607f.44107","e6853b20.3960a8","3a334c92.041294","7078595a.2c0918"]]},{"id":"c4107dca.4bbce","type":"function","z":"5d86c206.83e03c","name":"Humidity","func":"msg.payload = msg.payload.Hum\nreturn msg","outputs":1,"noerr":0,"x":580,"y":120,"wires":[["e3c8c833.56d3c8"]]},{"id":"e3c8c833.56d3c8","type":"ui_gauge","z":"5d86c206.83e03c","name":"","group":"b0329915.e26308","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"% RH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":120,"wires":[]},{"id":"7ddd5cb4.8e17d4","type":"debug","z":"5d86c206.83e03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":300,"wires":[]},{"id":"a167607f.44107","type":"function","z":"5d86c206.83e03c","name":"Pressure","func":"msg.payload = msg.payload.Press\nreturn msg","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["cdb31022.44d22"]]},{"id":"cdb31022.44d22","type":"ui_gauge","z":"5d86c206.83e03c","name":"","group":"b0329915.e26308","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"260","max":"1260","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":180,"wires":[]},{"id":"63cedc1e.d16554","type":"ui_text","z":"5d86c206.83e03c","group":"597df5a7.33849c","order":2,"width":0,"height":0,"name":"","label":"ACCELERATION (RAW VALUES)","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":260,"wires":[]},{"id":"e2a39e99.d9676","type":"ui_text","z":"5d86c206.83e03c","group":"597df5a7.33849c","order":4,"width":0,"height":0,"name":"","label":"GYROSCOPE","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":320,"wires":[]},{"id":"94296c2a.f4b2d","type":"ui_text","z":"5d86c206.83e03c","group":"597df5a7.33849c","order":4,"width":0,"height":0,"name":"","label":"MAGNETOMETER","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":400,"wires":[]},{"id":"e6853b20.3960a8","type":"function","z":"5d86c206.83e03c","name":"Accelerometer","func":"msg.payload = \n{\nX: msg.payload.Accel_X,\nY: msg.payload.Accel_Y,\nZ: msg.payload.Accel_Z\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["63cedc1e.d16554"]]},{"id":"3a334c92.041294","type":"function","z":"5d86c206.83e03c","name":"Gyroscope","func":"msg.payload = \n{\nX: msg.payload.Gyro_X,\nY: msg.payload.Gyro_Y,\nZ: msg.payload.Gyro_Z\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["e2a39e99.d9676"]]},{"id":"7078595a.2c0918","type":"function","z":"5d86c206.83e03c","name":"Magnetometer","func":"msg.payload = \n{\nX: msg.payload.Magn_X,\nY: msg.payload.Magn_Y,\nZ: msg.payload.Magn_Z\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["94296c2a.f4b2d"]]},{"id":"5c235116.c2e9","type":"mqtt out","z":"5d86c206.83e03c","name":"","topic":"$aws/things/stdisc_thing_6thmar/shadow/update","qos":"1","retain":"","broker":"82526810.02b8d8","x":440,"y":600,"wires":[]},{"id":"5cddf187.d730f","type":"ui_switch","z":"5d86c206.83e03c","name":"","label":"LED CONTROL","tooltip":"","group":"b0329915.e26308","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"$aws/things/TI_CC3220SFLAUNCHPAD/shadow/update","style":"","onvalue":"{\"state\":{\"desired\":{\"welcome\":\"aws-iot\",\"powerOn\":1}}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"state\":{\"desired\":{\"welcome\":\"aws-iot\",\"powerOn\":0}}}","offvalueType":"json","officon":"","offcolor":"","x":120,"y":600,"wires":[["5c235116.c2e9"]]}]